[submodule "calculate-area"]
	path = calculate-area
	url = https://github.com/dikiogres/gradle-luas

[submodule "sales-app"]
	path = sales-app
	url = https://github.com/dikiogres/gradle-aplikasi-penjualan
