[submodule "calculate-area"]
	path = calculate-area
	url = https://github.com/dikiogres/gradle-luas

[submodule "sales-app"]
	path = sales-app
	url = https://github.com/dikiogres/gradle-aplikasi-penjualan
[submodule "calculator"]
	path = calculator
	url = https://github.com/dikiogres/android-calculator-java
[submodule "crud-sqlite"]
	path = crud-sqlite
	url = https://github.com/dikiogres/android-crud-sqlite
[submodule "grading-form"]
	path = grading-form
	url = https://github.com/dikiogres/android-grade-form-converter
[submodule "contact"]
	path = contact
	url = https://github.com/dikiogres/android-contact-app
[submodule "google-map"]
	path = google-map
	url = https://github.com/dikiogres/android-google-map
